# Tuples
Very smilar to Lists

#Creating a tuple
t1=()

In [1]:
t2=(2,3,4,5)
t2

(2, 3, 4, 5)

In [2]:
#tuple with items of different data type
t3=("country",2.34,400,False)
t3

('country', 2.34, 400, False)

In [3]:
#to make one elementt tuple, we need to add comma after it
t4=("Hey",)
t4

('Hey',)

In [4]:
#getting tuple from string
t5=tuple("America")
t5

('A', 'm', 'e', 'r', 'i', 'c', 'a')

In [5]:
#to access items from tuples
t6=(12,33,4,53,6,23,4325,5)
#getting 4th index element
t6[4]

6

In [6]:
t6[-3]

23

In [7]:
#to get items from tuple within another tuple
t7=(21,34,56,676,(2,3,4,5,6),32,43)
#To get 4 inside another tuple
t7[4][2]

4

Lke lists we cannot edit items in tuples, because tuples are immutable
Also,Cannot add new items to tuple

In [8]:
# to delete a tuple
del t1

NameError: name 't1' is not defined

### Operations

In [9]:
#addition of 2 tuples
t2+t3

(2, 3, 4, 5, 'country', 2.34, 400, False)

In [10]:
t3*3

('country',
 2.34,
 400,
 False,
 'country',
 2.34,
 400,
 False,
 'country',
 2.34,
 400,
 False)

In [11]:
for i in t3:
    print(i)

country
2.34
400
False

In [12]:
#Membership Operation
2.34 in t3

True

### Functions

In [13]:
#length of tuple
len(t2)

4

In [14]:
#Using max, min, sum, sorted
min(t2)

2

In [15]:
max(t2)

5

In [16]:
sum(t2)

14

In [17]:
sorted(t2)

[2, 3, 4, 5]

#### Tuples are read_only datatype