# SETS

Important rules related to sets:-
1.Sets does not allow duplicates
2.Sets dont have any indexing/slicing
3.Sets dont allow mutable data types
4.Set itself is a mutable datatype

In [1]:
#For empty set
a=set()
type(a)

set

In [2]:
a1={1,2,3,4,5}
a2={"abhishek",32,2.33}
print(a1)
print(a2)

{1, 2, 3, 4, 5}
{32, 'abhishek', 2.33}

In [3]:
#Sets dont allow duplicates
a4={5.5,5.5,6,6,4,4}
print(a4)

{4, 5.5, 6}

In [4]:
#We cannot access or edit items from sets, but we can add items.

In [5]:
a4.add(7878)
a4

{4, 5.5, 6, 7878}

We can delete entire set using del

In [6]:
#Deleting a set
a5={3,2,4,5}
del(a5)
a5

NameError: name 'a5' is not defined

In [7]:
#Removing from set
a4.remove(5.5)
print(a4)

{7878, 4, 6}

In [8]:
#POP removes last item from set based on hashing
a4.pop()

7878

In [9]:
# Set Operations
set1={1,2,3,4,5,6,7}
set2={5,4,6,7,8,2,3}

We cannot concatenate or multiply sets, we can use loops and membership operators on sets

### Operations specifc to sets

In [10]:
#Union  - unique in both sets
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
#intersction- Common in both sets

In [12]:
set1.intersection(set2)

{2, 3, 4, 5, 6, 7}

In [13]:
# difference- items in set1 and not in set2 
set1.difference(set2)

{1}

In [14]:
set2.difference(set1)

{8}

In [15]:
# symmetric_difference - Not present in both 
set1.symmetric_difference(set2)

{1, 8}

END OF PART-7